<% const d = new Date()
    let year = d.getFullYear() %>

<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App></p>
    
    <p><a href="/inv/trigger-error" aria-describedby="error-link-note">
      Simulate server error
    <span id="error-link-note" class="sr-only">      
    </span>
    </a>
    </p>

    
</footer>