<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <nav id="tools" class="util-nav">
  <ul>
    <% if (loggedin) { %>
      <li class="welcome">
        <span class="welcome-badge">Welcome <strong><%= (accountData && accountData.account_firstname) ? accountData.account_firstname : "User" %></strong></span>
      </li>
      <li>
        <a class="btn btn--logout" href="/account/logout">Logout</a>
      </li>
    <% } else { %>
      <li>
        <a class="btn btn--login" href="/account/login" title="Click to log in">My Account</a>
      </li>
    <% } %>
  </ul>
</nav>

</header>
